<h1>Admin</h1>
	<table class="front" summary="For admin">
		<tr>
			<td class="main">

			'This will contain the admin access page.'
			
			<%= render :file => 'sports/index' %>

			</td>

		</tr>
	</table>