<% if signed_in? %>

<ul data-role="listview" <%=data_theme%>  >
	<!-- <li>
	<%= link_to 'My Picks', contest_branches_path(contest) %>
	</li> -->
</ul>


<%else%>

<%= render 'splash' %>

<div>
<%= button_to "Sign up now!", signup_path %>
</div>


<%end%>
