<% if signed_in? %>
<h3>You are logged into Trending Buffalo's fantasy site!</h3>
	
<%= link_to "See available games", contests_path %>

<%else%>

<%= render 'splash' %>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round"%>

<%end%>
