<h1>Listing players</h1>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.player_name %></td>
    <td><%= branch_count_this_contest(player.id, @contest_id) %></td>
  </tr>
<% end %>
</table>

