

[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

.mypadding {
	padding-top: 2px; 
	padding-right: 1em; 
	padding-bottom: 1px; 
	padding-left: 1em; 
	}
		
.myfooter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
		
