
.mypadding {
	padding-top: 2px; 
	padding-right: 1em; 
	padding-bottom: 1px; 
	padding-left: 1em; 
	}
		
.footer, .push {
	position: absolute;
	bottom: 0px;
	width: 100%;
	}

#center_logo {
	text-align: center;
	align: center;
	margin: 0 auto;
	}
	
	