
.mypadding {
	padding-top: 2px; 
	padding-right: 1em; 
	padding-bottom: 1px; 
	padding-left: 1em; 
	}
		
* {
	margin: 0;
	}
	
html,body {
	height: 100%;
	}
	
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	}

.footer, .push {
	height: 4em;
	position: absolute;
	bottom: 0px;
	width: 100%;
	}

#center_logo {
	text-align: center;
	margin: 0 auto;
	}
	
	