<!-- <div data-role="footer" <%=data_theme%> -->
	<br/>
	<br/>
	<div data-role="button" data-mini="true">
	<div id="center_logo">
		<%= link_to sponsor_logo, "http://www.trendingbuffalo.com" %>
	</div>
	</div>
<!-- </div><!-- /footer -->
