<div data-role="header" <%= data_theme %> >
	<h1>#SabreSim2012</h1>
	<% if signed_in? %>
	<%= link_to "Sign Out", signout_path, "class" => "ui-btn-left", "data-mini" => "true", 
		:confirm => "You sure?" %>
	<% else %>
	<%= button_to "Sign in", signin_path, "class" => "ui-btn-left", "data-mini" => "true"%>
	<%end%>	
</div>

